<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.username || @user.email %></h1>
    <p>
      If you wish to reset your password,
      Please enter it below:<br>
    </p>
  </body>
</html>
