<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
        <h3>Hi <%= @user2.username and @user.username %>,</h3>
        <p>
            Your game has been successfully created! The name of the game is <%= @game.name %> and <%= @game.id %>.
        </p>
        <p>
        If you have any questions, feel free to reach out to my email directly.
        </p>
        <p>Enjoy your game!</p>
    </div>
  </body>
</html>