<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color:#282c34">
    <div style="background-color:#C0C0C0">
        <h3>Welcome to Action Game, <%= @user.first_name || @user.email %></h3>
        <p>
        You have successfully signed up,
        your username is: <%= @user.username %> <br>
        </p>
        <p>
        If you have any questions, feel free to reach out to my email directly.
        </p>
        <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>